<div class="col-sm-7">
	<div class="text-left">
  		<button class="btn btn-primary" 
  		ng-show="!main.isCreate"
  		ng-click="main.work='editor'">建立號碼</button>
  		<button class="btn btn-danger" 
  		ng-show="main.isCreate"
  		ng-click="main.work='editor'">重置</button>
	</div>
	<div class="table-responsive">
	  	<table class="table table-bordered table-condensed">
		    <tr class="text-center info title">
		    	<td class="h3">{{main.winning.title}}</td>
		    </tr>
		    <tr class="text-center success">
		    	<td>{{main.winning.super_special.title}}</td>
		    </tr>
		     <tr>
		    	<td class="warning">
		    		<ol class="list-style">
						<li ng-repeat="code in main.winning.super_special.value">
							{{code}}</li>
					</ol>
				</td>
		    </tr>
		    <tr class="text-center success">
		    	<td>{{main.winning.special.title}}</td>
		    </tr>
		     <tr>
		    	<td class="warning">
		    		<ol class="list-style">
					  <li ng-repeat="code in main.winning.special.value">
							{{code}}</li>
					</ol>
				</td>
		    </tr>
		    <tr class="text-center success">
		    	<td>{{main.winning.first.title}}</td>
		    </tr>
		     <tr>
		    	<td class="warning">
		    		<ol class="list-style">
					  	<li ng-repeat="code in main.winning.first.value">
							{{code}}</li>
					</ol>
				</td>
		    </tr>
		    <tr class="text-center success">
		    	<td>{{main.winning.second.title}}</td>
		    </tr>
		    <tr class="text-center success">
		    	<td>{{main.winning.third.title}}</td>
		    </tr>
		    <tr class="text-center success">
		    	<td>{{main.winning.fourth.title}}</td>
		    </tr>
		    <tr class="text-center success">
		    	<td>{{main.winning.fifth.title}}</td>
		    </tr>
		    <tr class="text-center success">
		    	<td>{{main.winning.sixth.title}}</td>
		    </tr>
		    <tr class="text-center success">
		    	<td>{{main.winning.add_sixth.title}}</td>
		    </tr>
		    <tr>
		    	<td class="warning">
		    		<ol class="list-style">
					  	<li ng-repeat="code in main.winning.add_sixth.value">
							{{code}}</li>
					</ol>
				</td>
		    </tr>
	  	</table>
	</div>
</div>  

<div class="col-sm-4 query_box">
    <span class="h4">號碼查詢:</span>
    <form class="form-horizontal" role="form">
	    <div class="form-group">      					
		    <div class="col-xs-9 col-sm-10">
			    <input type="text" class="form-control" 
			    ng-model="main.code" placeholder="請輸入發票號碼最少3碼"/>
			</div>
		    <div class="col-xs-3 col-sm-2">
		      	<button class="btn btn-primary" 
		      	ng-click="main.check()">兌獎</button>
		    </div>	      			
    	</div>
	</form>
	<div>
	  	<p style="color:red;" class="h3"
	  	ng-bind="main.result"></p>
	</div>
<!--
	<div style="margin-top:10px;">
	  <span class="h4">中獎記錄:</span>
	  <ul>
	  	<li>123345666</li>
	  	<li>123345666</li>
	  	<li>123345666</li>
	  	<li>123345666</li>
	  </ul>
	</div>
-->
</div>
      				
      				
      				